.title {
    text-align: center;
    color: rgb(31, 31, 230);
    font-family: "brush script MT";
}

.addButton {
    text-align: center;

}

.redButton {
    background-color: red;
    color: white;
}

ul {
    text-align: justify;
    margin-left: 15%;
    margin-right: 150px;
    font-size: 1.5em;
    list-style-image: url('openBookthumb.jpg');
}
