.title {
    text-align: center;
    color: rgb(31, 31, 230);
    font-family: "brush script MT";
}

.addButton {
    text-align: center;

}

.redButton {
    background-color: red;
    color: white;
}

ul {
    margin-left: 20px;
    list-style-image: url('openBookthumb.jpg');
}